.Formulaire1 {
    height: 20vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DA {
    display:flex;
}
.Departure {
    height: 20vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Arrival {
    height: 20vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button {
    height: 20vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Date {
    height: 20vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}