.Formulaire1 {
    height: 10vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DA {
    display:flex;
}
.Departure {
    height: 5vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Arrival {
    height: 5vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button {
    height: 5vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Date {
    height: 5vh;
    width:20vw;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Flight{
    height: 5vh;
    width:20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Stopover{
    height: 8vh;
    width:20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
	border: 0;
	border-top: 3px solid #094CFA;
}